@import "@gravity-ui/uikit/styles/fonts.css";
@import "@gravity-ui/uikit/styles/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Ubuntu Sans", sans-serif;
}

* {
  font-family: "Ubuntu Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
